{{ define "product_list" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head_be" . }}

<body>

<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    {{ template "main_header_be_2" .}}
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        {{ template "sidebar_be_2" .}}
        <!-- Page Sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Dashboard
                                    <small>e-Tetika dashboard panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href='/dashboard'><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item active">Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Manage Products</h5>
                                <br>
                                <div class="btn-popup pull-left">
                                    <a href='{{ "../product/create" }}' class="btn btn-secondary">Add Product</a>
                                </div>
                            </div>
                            <div class="card-body order-datatable">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Choral Ochestra Folkfore Festival Samarinda</td>
                                            <td>Gor Segiri Samarinda</td>
                                            <td>22-23 Februari</td>
                                            <td>16:00</td>
                                            <td>4</td>
                                            <td>
                                                <a href='{{"dashboard"}}'><i data-feather="file" style="color: black;"></i></a>
                                                <a href='{{"dashboard"}}'><i data-feather="edit" style="color: black;"></i></a>
                                                <a href='{{"dashboard"}}'><i data-feather="x-circle" style="color: black;"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Smaland Culture of Kaltim</td>
                                            <td>SMA Negeri 5 Samarinda</td>
                                            <td>10 Oktober</td>
                                            <td>19:00</td>
                                            <td>3</td>
                                            <td>
                                                <a href='{{"dashboard"}}'><i data-feather="file" style="color: black;"></i></a>
                                                <a href='{{"dashboard"}}'><i data-feather="edit" style="color: black;"></i></a>
                                                <a href='{{"dashboard"}}'><i data-feather="x-circle" style="color: black;"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        {{ template "footer_be" .}}
        <!-- footer end-->
    </div>

</div>

{{ template "script_be" .}}

</body>
</html>
{{ end }}