{{ define "product_manage" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head_be" . }}

<body>

<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    {{ template "main_header_be_2" .}}
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        {{ template "sidebar_be_2" .}}
        <!-- Page Sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Dashboard
                                    <small>e-Tetika dashboard panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href='/dashboard'><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item active">Event</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Product</h5>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active show" id="account-tab" data-bs-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true" data-original-title="" title="">Product</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                                        <form class="needs-validation user-add" action='{{ "../../process/product/create" }}' method="post">
                                            <h4>Product Details</h4>
                                            <div class="form-group row">
                                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span> Name</label>
                                                <div class="col-xl-8 col-md-7">
                                                    <input class="form-control" id="validationCustom0" type="text" name="name" required>
                                                </div>
                                            </div>
                                            <div class="form-group row editor-label">
                                                <label class="col-xl-3 col-md-4"><span>*</span>Description</label>
                                                <div class="col-xl-8 col-md-7">
                                                    <textarea rows="4" class="form-control" name="description" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0"><span>*</span>Select Category:</label>
                                                <div class="col-xl-8 col-sm-7">
                                                    <select class="form-control digits" id="exampleFormControlSelect1" name="category">
                                                        <option>Aksesoris</option>
                                                        <option>Compact Disk (CD)</option>
                                                        <option>Pakaian</option>
                                                        <option>Perlengkan Rumah</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0"><span>*</span>Select Size:</label>
                                                <div class="col-xl-8 col-sm-7">
                                                    <select class="form-control digits" id="exampleFormControlSelect1" name="size">
                                                        <option value="">-- tidak dipilih --</option>
                                                        <option value="small">S (Small)</option>
                                                        <option value="medium">M (Medium)</option>
                                                        <option value="large">L (Large)</option>
                                                        <option value="extra_large">XL (EXtra Large)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="validationCustom3" class="col-xl-3 col-md-4">Price</label>
                                                <div class="col-xl-8 col-md-7">
                                                    <input class="form-control" id="validationCustom3" type="number" required="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="validationCustom3" class="col-xl-3 col-md-4"><span>*</span>Total Products</label>
                                                <div class="col-xl-8 col-md-7">
                                                    <input class="form-control" id="validationCustom3" type="number" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="validationCustom3" class="col-xl-3 col-md-4">Poster</label>
                                                <div class="col-xl-8 col-md-7">
                                                    <input class="form-control" id="validationCustom3" type="file">
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        {{ template "footer_be" .}}
        <!-- footer end-->
    </div>

</div>

{{ template "script_be" .}}

</body>
</html>
{{ end }}