{{ define "blog" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" .}}

<body class="theme-color-1">

    <!-- loader start -->
    <div class="loader_skeleton">
        <header>
            <div class="top-header d-none d-sm-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ template "class_header_contact" . }}
                        </div>
                        <div class="col-lg-6 text-end">
                            <ul class="header-dropdown">
                                <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="onhover-dropdown mobile-account">
                                    <i class="fa fa-user" aria-hidden="true"></i> My Account
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-menu">
                            <div class="menu-left">
                                <div class="navbar">
                                    <a href="javascript:void(0)">
                                        <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="brand-logo">
                                    <a href="/"><img src="../assets/images/icon/logo.png"
                                            class="img-fluid blur-up lazyload" alt=""></a>
                                </div>
                            </div>
                            <div class="menu-right pull-right">
                                <div>
                                    <nav>
                                        <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul class="sm pixelstrap sm-horizontal">
                                            <li>
                                                <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                        aria-hidden="true"></i></div>
                                            </li>
                                            <li><a href='/'>Home</a></li>
                                            <li><a href='{{ "event" }}'>Event</a></li>
                                            <li><a href='{{ "product" }}'>Product</a></li>
                                            <li><a href='{{ "blog" }}'>Blog</a></li>
                                            <li><a href='{{ "contact" }}'>Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                    <div class="icon-nav d-none d-sm-block">
                                        <ul>
                                            <li class="onhover-div mobile-search">
                                                <div><img src="../assets/images/icon/search.png" onclick="openSearch()"
                                                        class="img-fluid blur-up lazyload" alt=""> <i class="ti-search"
                                                        onclick="openSearch()"></i></div>
                                            </li>
                                            <li class="onhover-div mobile-cart">
                                                <div><img src="../assets/images/icon/cart.png"
                                                        class="img-fluid blur-up lazyload" alt=""> <i
                                                        class="ti-shopping-cart"></i></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h2>blog</h2>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="breadcrumb" class="theme-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-b-space blog-page ratio2_3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="blog-sidebar">
                            <div class="theme-card">
                                <h5 class="title-border"></h5>
                                <div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-card">
                                <h5 class="title-border"></h5>
                                <div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-box">
                                        <div class="media">
                                            <div class="img-wrapper"></div>
                                            <div class="media-body align-self-center">
                                                <div class="product-detail">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-7 order-sec">
                        <div class="product-box">
                            <div class="media">
                                <div class="img-wrapper"></div>
                                <div class="media-body align-self-center">
                                    <div class="product-detail">
                                        <h4></h4>
                                        <h5></h5>
                                        <h5 class="second"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="media">
                                <div class="img-wrapper"></div>
                                <div class="media-body align-self-center">
                                    <div class="product-detail">
                                        <h4></h4>
                                        <h5></h5>
                                        <h5 class="second"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="media">
                                <div class="img-wrapper"></div>
                                <div class="media-body align-self-center">
                                    <div class="product-detail">
                                        <h4></h4>
                                        <h5></h5>
                                        <h5 class="second"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="media">
                                <div class="img-wrapper"></div>
                                <div class="media-body align-self-center">
                                    <div class="product-detail">
                                        <h4></h4>
                                        <h5></h5>
                                        <h5 class="second"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- loader end -->


    <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        {{template "class_header_contact" .}}
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">
                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i> My Account
                                {{ template "section_login_or_register" .}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">
                                <a href="/"> <img src="../assets/images/icon/logo.png"
                                        class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                {{ template "main_nav" . }}
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="../assets/images/icon/search.png" onclick="openSearch()"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-search" onclick="openSearch()"></i>
                                            </div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div>
                                                    <span class="closebtn" onclick="closeSearch()"
                                                        title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="exampleInputPassword1"
                                                                                placeholder="Search a Product">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i
                                                                                class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="onhover-div mobile-cart">
                                            <div><img src="../assets/images/icon/cart.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-shopping-cart"></i>
                                            </div>
                                            <ul class="show-div shopping-cart">
                                                <li>
                                                    <div class="buttons">
                                                        <a href='{{ "cart" }}' class="view-cart">view cart</a>
                                                        <a href='{{ "checkout" }}' class="checkout">checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>blog</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- section start -->
    <section class="section-b-space blog-page ratio2_3">
        <div class="container">
            <div class="row">
                <!--Blog sidebar start-->
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="blog-sidebar">
                        <div class="theme-card">
                            <h4>Popular Blog</h4>
                            <ul class="popular-blog">
                                <li>
                                    <div class="media">
                                        <div class="blog-date"><span>03 </span><span>may</span></div>
                                        <div class="media-body align-self-center">
                                            <h6>Mengenal Local Native Borneo</h6>
                                        </div>
                                    </div>
                                    <p>Media Record Samarinda.</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="blog-date"><span>03 </span><span>may</span></div>
                                        <div class="media-body align-self-center">
                                            <h6>Nostalgia Lagu-lagu Novi Umar</h6>
                                        </div>
                                    </div>
                                    <p>Lupakan Dulu Dugaan Plagiarisme Kekeyi: Yuk, Nostalgia dengan Lagu-lagu Novi Umar!</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="blog-date"><span>03 </span><span>may</span></div>
                                        <div class="media-body align-self-center">
                                            <h6>SEJARAH PERGERAKAN MUSIK SAMARINDA</h6>
                                        </div>
                                    </div>
                                    <p>Secara umum dimulai pada era musik yang berorientasi pada festival festival band yang mengemplentasikan sebuah pemahaman arti sebenarnya dari kata yang dimaksud</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="blog-date"><span>03 </span><span>may</span></div>
                                        <div class="media-body align-self-center">
                                            <h6>WALKINSOMNIA Pejuang Post-Hardcore yang Melawan Trauma<h6>
                                        </div>
                                    </div>
                                    <p>Satu lagi nama baru di ranah musik cadas Tanah Air</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Blog sidebar start-->
                <!--Blog List start-->
                <div class="col-xl-9 col-lg-8 col-md-7 order-sec">
                    <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a href="#"><img src="../assets/images/blog/blog-1.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 January 2021</h6><a href="#">
                                        <h4>Rita Sudah Kangen Samarinda</h4>
                                    </a>
                                    <ul class="post-social">
                                        <li>Posted By : Adwin</li>
                                        <li><i class="fa fa-heart"></i> 5 Hits</li>
                                        <li><i class="fa fa-comments"></i> 2 Comment</li>
                                    </ul>
                                    <p>Bumi Etam memang tak pernah berhenti melahirkan musisi-musisi yang luar biasa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a href="#"><img src="../assets/images/blog/blog-2.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 January 2021</h6><a href="#">
                                        <h4>Beleza, Band Samarinda Yang Tengah Naik Daun</h4>
                                    </a>
                                    <ul class="post-social">
                                        <li>Posted By : Admin</li>
                                        <li><i class="fa fa-heart"></i> 5 Hits</li>
                                        <li><i class="fa fa-comments"></i> 10 Comment</li>
                                    </ul>
                                    <p>Beleza, Grup Band asal Samarinda kini tengah naik daun. Beleza yang berasal dari bahasa Yunani yang berarti keindahan ini berdiri sejak 2010 lalu di Jakarta dengan lima personel yang semuanya berasal dari Samarinda.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a href="#"><img src="../assets/images/blog/blog-3.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 Oktober 2021</h6><a href="#">
                                        <h4>Davy Jones Berharap Tahun Depan Bisa Siapkan Tour Pulau Jawa</h4>
                                    </a>
                                    <ul class="post-social">
                                        <li>Posted By : Admin</li>
                                        <li><i class="fa fa-heart"></i> 5 Hits</li>
                                        <li><i class="fa fa-comments"></i> 10 Comment</li>
                                    </ul>
                                    <p>Kuartet rock n’ roll Davy Jones siap menggelar tur lima kota di pulau Jawa dan Bali. Band asal Samarinda, Kalimantan Timur ini akan memulai Rockin’on the Tour</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a href="#"><img src="../assets/images/blog/blog-4.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 November 2021</h6><a href="#">
                                        <h4>Zero Six Park Siap Tampil Lagi</h4>
                                    </a>
                                    <ul class="post-social">
                                        <li>Posted By : Admin/li>
                                        <li><i class="fa fa-heart"></i> 5 Hits</li>
                                        <li><i class="fa fa-comments"></i> 10 Comment</li>
                                    </ul>
                                    <p>Setelah lulus dari ajang Rising Star Indonesia 2017, grup band ZerosiX Park tidak bersantai saja tanpa kreativitas. Mereka kembali meramaikan dunia musik Tanah Air dengan melepas single terbarunya berjudul Komitmen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog List start-->
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- footer start -->
    {{ template "footer" . }}
    <!-- footer end -->


    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="../assets/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- slick js-->
    <script src="../assets/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="../assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="../assets/js/theme-setting.js"></script>
    <script src="../assets/js/script.js"></script>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>

</html>
{{ end }}