{{ define "privacy" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" .}}

<body class="theme-color-1">


    <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                    {{ template "class_header_contact" .}}
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">
                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i> My Account
                                {{ template "section_login_or_register" .}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo"><a href="/"><img src="../assets/images/icon/logo.png"
                                        class="img-fluid blur-up lazyload" alt=""></a></div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                {{ template "main_nav" . }}
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="../assets/images/icon/search.png" onclick="openSearch()"
                                                    class="img-fluid blur-up lazyload" alt=""> <i class="ti-search"
                                                    onclick="openSearch()"></i></div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div>
                                                    <span class="closebtn" onclick="closeSearch()"
                                                        title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="form-group"><input type="text"
                                                                                class="form-control"
                                                                                id="exampleInputPassword1"
                                                                                placeholder="Search a Product"></div>
                                                                        <button type="submit" class="btn btn-primary"><i
                                                                                class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="onhover-div mobile-cart">
                                            <div><img src="../assets/images/icon/cart.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-shopping-cart"></i>
                                            </div>
                                            <ul class="show-div shopping-cart">
                                                <li>
                                                    <div class="buttons">
                                                        <a href='{{ "cart" }}' class="view-cart">view cart</a>
                                                        <a href='{{ "checkout" }}' class="checkout">checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>kebijakan privasi</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">kebijakan privasi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- about section start -->
    <section class="about-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-section"><img src="../assets/images/about/fix-1370.png"
                            class="img-fluid blur-up lazyload" alt=""></div>
                </div>
                <div class="col-sm-12">
                    <h4>Kebijakan Privasi</h4>
                    <p>
                        Kebijakan Privasi ini merupakan komitmen nyata dari PT Shippindo Teknologi Logistik (“Shipper”) untuk menghargai dan melindungi setiap data dan informasi pribadi Anda 
                        sebagai pengguna situs www.shipper.id, situs-situs turunannya dan yang terkait dengannya, serta aplikasi yang dikembangkan 
                        secara penuh atau sebagian, yang diluncurkan, dipromosikan, atau dipasarkan oleh Shipper (selanjutnya disebut sebagai "Situs").
                    </p>
                    <br>
                    <p>
                        Kebijakan Privasi ini (beserta syarat-syarat penggunaan yang ditetapkan Situs sebagaimana yang telah tercantum dalam "Syarat & Ketentuan" dan informasi lain yang tercantum di Situs) 
                        merupakan panduan dan dasar atas perolehan, pengumpulan, pengolahan, penganalisisan, penampilan, pembukaan, dan/atau 
                        segala bentuk pengelolaan yang terkait dengan data atau informasi yang Anda berikan kepada Shipper atau yang Shipper kumpulkan dari Pengguna, termasuk data pribadi Anda, baik pada saat Pengguna melakukan pendaftaran di Situs, mengakses Situs, 
                        maupun mempergunakan layanan-layanan pada Situs (selanjutnya disebut sebagai "data").
                    </p>
                    <br>
                    <p>
                        Dengan mengakses dan/atau menggunakan layanan yang disediakan oleh Shipper, dengan ini Anda menyatakan bahwa setiap data yang Anda berikan merupakan data yang benar dan sah, 
                        serta Anda dengan ini telah menyetujui tindakan Shipper untuk memperoleh, mengumpulkan, menyimpan, mengelola dan mempergunakan data tersebut sebagaimana 
                        tercantum dalam Kebijakan Privasi maupun Syarat dan Ketentuan dari PT Shippindo Teknologi Logistik.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->


    <!-- footer start -->
    {{ template "footer" . }}
    <!-- footer end -->


    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->


    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="../assets/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- slick js-->
    <script src="../assets/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="../assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="../assets/js/theme-setting.js"></script>
    <script src="../assets/js/script.js"></script>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>

</body>

</html>
{{ end }}